<!--
  Manipulator specific version of abb_driver's 'robot_interface.launch'.

  Usage:
    robot_interface_download_irbt4004.launch robot_ip:=<value>
-->
<launch>
  <arg name="robot_ip" doc="IP of the controller" />

  <rosparam command="load" file="$(find abb_irbt4004_support)/config/joint_names_irbt4004.yaml" />

  <include file="$(find abb_driver)/launch/robot_interface.launch">
    <arg name="robot_ip"    value="$(arg robot_ip)" />
  </include>
</launch>
